
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:pt-12">
  <div class="max-w-3xl mx-auto">
    <h1 class="font-bold text-2xl lg:text-4xl text-center">Your shopping list</h1>

    <div class="max-w-xl mx-auto mt-4" data-controller="list">
      <div class="rounded-full bg-white border-2 border-teal-400 mx-auto w-20 h-20 -mb-10 relative flex justify-center items-center">
        <svg class="h-12 w-12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect fill="none" rx="0" ry="0"></rect>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.00002 8.6502H8.50002C8.83002 8.6502 9.10002 8.3802 9.10002 8.0502V5.5502C9.10002 5.2202 8.83002 4.9502 8.50002 4.9502H6.00002C5.67002 4.9502 5.40002 5.2202 5.40002 5.5502V8.0502C5.40002 8.3802 5.67002 8.6502 6.00002 8.6502ZM7.90002 7.4502H6.60002V6.1502H7.90002V7.4502ZM6.00002 13.8501H8.50002C8.83002 13.8501 9.10002 13.5801 9.10002 13.2501V10.7501C9.10002 10.4201 8.83002 10.1501 8.50002 10.1501H6.00002C5.67002 10.1501 5.40002 10.4201 5.40002 10.7501V13.2501C5.40002 13.5801 5.67002 13.8501 6.00002 13.8501ZM7.90002 12.6501H6.60002V11.3501H7.90002V12.6501ZM8.50002 19.0503H6.00002C5.67002 19.0503 5.40002 18.7803 5.40002 18.4503V15.9503C5.40002 15.6203 5.67002 15.3503 6.00002 15.3503H8.50002C8.83002 15.3503 9.10002 15.6203 9.10002 15.9503V18.4503C9.10002 18.7803 8.83002 19.0503 8.50002 19.0503ZM6.60002 17.8503H7.90002V16.5503H6.60002V17.8503ZM11.2 7.4002H18C18.33 7.4002 18.6 7.1302 18.6 6.8002C18.6 6.4702 18.33 6.2002 18 6.2002H11.2C10.87 6.2002 10.6 6.4702 10.6 6.8002C10.6 7.1302 10.87 7.4002 11.2 7.4002ZM11.2 12.6001H18C18.33 12.6001 18.6 12.3301 18.6 12.0001C18.6 11.6701 18.33 11.4001 18 11.4001H11.2C10.87 11.4001 10.6 11.6701 10.6 12.0001C10.6 12.3301 10.87 12.6001 11.2 12.6001ZM18 17.8003H11.2C10.87 17.8003 10.6 17.5303 10.6 17.2003C10.6 16.8703 10.87 16.6003 11.2 16.6003H18C18.33 16.6003 18.6 16.8703 18.6 17.2003C18.6 17.5303 18.33 17.8003 18 17.8003Z" fill="#81e6d9"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.4 22H2.6C2.27 22 2 21.73 2 21.4V2.6C2 2.27 2.27 2 2.6 2H21.4C21.73 2 22 2.27 22 2.6V21.4C22 21.73 21.73 22 21.4 22ZM3.2 20.8H20.8V3.2H3.2V20.8Z" fill="#319795"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.4 22H2.6C2.27 22 2 21.73 2 21.4V2.6C2 2.27 2.27 2 2.6 2H21.4C21.73 2 22 2.27 22 2.6V21.4C22 21.73 21.73 22 21.4 22ZM3.2 20.8H20.8V3.2H3.2V20.8Z" fill="white" fill-opacity="0.01"></path>
        </svg>
      </div>

      <div class="border border-teal-400 bg-white rounded shadow-md">
        <div id="shopping_list" class="mt-10" data-target="list.items"></div>
      </div>


      <div class="flex justify-center mt-4">
        <span class="inline-flex rounded-md shadow-sm">
          <button type="button" data-action="list#openForm" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150">
            <svg class="-ml-1 mr-2 h-5 w-5" viewBox="0 0 24 24">
              <rect fill="none" rx="0" ry="0"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4 2H13.6C13.93 2 14.2 2.27 14.2 2.6V9.80005H21.4C21.73 9.80005 22 10.07 22 10.4V13.6C22 13.93 21.73 14.2 21.4 14.2H14.2V21.4C14.2 21.73 13.93 22 13.6 22H10.4C10.07 22 9.80005 21.73 9.80005 21.4V14.2H2.6C2.27 14.2 2 13.93 2 13.6V10.4C2 10.07 2.27 9.80005 2.6 9.80005H9.80005V2.6C9.80005 2.27 10.07 2 10.4 2Z" fill="#ffffff"/>
            </svg>
            Add items to your shopping list
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
