
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 lg:pt-12">
  <div class="max-w-3xl mx-auto">
    <h1 class="font-bold text-3xl">Your shopping list</h1>

    <div data-controller="list">
      <div id="shopping_list" class="py-4" data-target="list.items"></div>
      <div class="" data-action="click->list#openForm" >Add new items</div>
    </div>
  </div>
</div>
